<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>文档阅读</title>
    <!--公用样式 start-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../libs/jquery.min.js"></script>
    <script src="../plugins/layer/layer.js"></script>
    <link rel="stylesheet" href="../plugins/layer/skin/default/layer.css?v=3.0.11110" id="layuicss-skinlayercss">
    <script src="../libs/bootstrap.min.js"></script>
    <script src="../libs/vue.min.js"></script>
    <script src="../libs/validator.min.js"></script>
    <script src="../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../js/common.js"></script>
    <!--公用样式 end-->

    <!--日历插件css-->
    <link rel="stylesheet" href="../libs/jedate-6.5.0/skin/jedate.css">
    <!--文件上传插件css-->
    <link rel="stylesheet" href="../plugins/easyUpload.js/easy-upload.css">
    <!--当前页面样式-->
    <link rel="stylesheet" href="../css/knowledge/knowledgeRead.css">
    <!--<script src="../js/common.js"></script>-->
    <!--日历插件-->
    <script src="../libs/jedate-6.5.0/src/jedate.js"></script>
    <script src="../plugins/easyUpload.js/vendor/jquery.cookie-1.4.1.min.js"></script>
    <!--公用js  end-->
    <!--文件上传插件-->
    <script src="../plugins/easyUpload.js/easyUpload.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<div class="form-group col-sm-2" style="width: 170px;">
				<input type="text" class="form-control" v-model="q.origin" @keyup.enter="query" placeholder="来源">
			</div>
			<div class="form-group col-sm-2"style="width: 170px;">
				<input type="text" class="form-control" v-model="q.author" @keyup.enter="query" placeholder="作者">
			</div>
			<div class="form-group col-sm-2"style="width: 170px;">
				<input type="text" class="form-control" v-model="q.abstract" @keyup.enter="query" placeholder="摘要">
			</div>
			<div class="form-group col-sm-2"style="width: 170px;">
				<input type="text" class="form-control" v-model="q.marks" @keyup.enter="query" placeholder="备注">
			</div>
			<div class="form-group col-sm-2"style="width: 170px;">
				<input type="text" class="form-control" v-model="q.keyword" @keyup.enter="query" placeholder="关键词">
			</div>
			<div class="form-group col-sm-2"style="width: 170px;">
				 <select class="form-control" v-model="q.documentLable"  name="documentLable" >
						<option v-for="lable in lableList" :value="lable.lableId" >{{lable.lableName}}</option>
				 </select>
			</div>
			<a class="btn btn-default" @click="query">查询</a>
            <!--<a  class="btn btn-primary" ><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a  class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" ><i class="fa fa-trash-o"></i>&nbsp;删除</a>-->
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

	<div v-show="!showDeptList" class="panel panel-default" >
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-2 control-label">选择部门</div>
				<div class="col-sm-10">
				 	<select class="form-control" v-model="deptSelected">
						<option v-for="dept in deptList" :value="dept.id+'_'+dept.departmentName" >{{dept.departmentName}}</option>
					</select>  
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" @click="release" value="发布" />
				 &nbsp;&nbsp;
				<input type="button"class="btn btn-warning" @click="reload" value="返回" />
			</div>
		</form>
	</div>
	<div v-show="!showUserList" class="panel panel-default" >
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-2 control-label">选择用户</div>
				<div class="col-sm-10">
				 	<select class="form-control" v-model="userSelected">
						<option v-for="user in userList" :value="user.id+'_'+user.userName" >{{user.userName}}</option>
					</select>  
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" @click="release" value="发布" />
				 &nbsp;&nbsp;
				<input type="button"class="btn btn-warning" @click="reload" value="返回" />
			</div>
		</form>
	</div>

</div>
<div class="recommend" id="recommend">
	<div class="recommend-title black">
		&gt;&nbsp;相关推荐
	</div>
	<div class="recommend-content">
		<span id="recommend_content"></span>
	</div>
</div>
<input type="hidden" th:value="${recommendOff}" id="recommendOff">
</body>
<!--当前页面样式-->
<link rel="stylesheet" href="../css/recommend/index.css">
<script src="../js/knowledge/knowledgeRead.js"></script>
<script src="../js/recommend/index.js"></script>
<script>
	//智能推荐开关  0.推荐关  1.推荐开
	var recommendOff=$("#recommendOff").val();
</script>
</html>