<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>文档审核</title>
    <!--公用样式 start-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../libs/jquery.min.js"></script>
    <script src="../plugins/layer/layer.js"></script>
    <link rel="stylesheet" href="../plugins/layer/skin/default/layer.css?v=3.0.11110" id="layuicss-skinlayercss">
    <script src="../libs/bootstrap.min.js"></script>
    <script src="../libs/vue.min.js"></script>
    <script src="../libs/validator.min.js"></script>
    <script src="../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../js/common.js"></script>
    <!--公用样式 end-->

    <!--日历插件css-->
    <link rel="stylesheet" href="../libs/jedate-6.5.0/skin/jedate.css">
    <!--文件上传插件css-->
    <link rel="stylesheet" href="../plugins/easyUpload.js/easy-upload.css">
    <!--当前页面样式-->
    <link rel="stylesheet" href="../css/knowledge/knowledgeReview.css">
    <!--<script src="../js/common.js"></script>-->
    <!--日历插件-->
    <script src="../libs/jedate-6.5.0/src/jedate.js"></script>
    <script src="../plugins/easyUpload.js/vendor/jquery.cookie-1.4.1.min.js"></script>
    <!--公用js  end-->
    <!--文件上传插件-->
    <script src="../plugins/easyUpload.js/easyUpload.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">

            <a  class="btn btn-info" @click="check" ><i class="fa fa-search-plus"></i>&nbsp;审核</a>
            <!--<a  class="btn btn-primary" ><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a  class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" ><i class="fa fa-trash-o"></i>&nbsp;删除</a>-->
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">来源</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="document.documentOrigin" placeholder="登录账号" disabled/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">作者</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="document.documentAuthor" placeholder="作者" disabled/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="document.documentUploadDate" placeholder="时间" disabled/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">摘要</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="document.documentAbstract" placeholder="摘要" disabled/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" status="1"  @click="passOrFalse" value="审核通过"/>
                <input type="button" class="btn btn-danger"  status="2" @click="passOrFalse"  value="审核不过"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>



</div>
</body>
<script src="../js/knowledge/knowledgeReview.js"></script>
</html>