<!DOCTYPE html>
<html>
<head>
    <title>逻辑推理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="../logic/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="../logic/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../logic/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="../logic/files/智能化支持/styles.css" type="text/css" rel="stylesheet"/>
    <script src="../logic/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="../logic/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="../logic/resources/scripts/prototypePre.js"></script>
    <script src="../logic/data/document.js"></script>
    <script src="../logic/resources/scripts/prototypePost.js"></script>
    <script src="../logic/files/智能化支持/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (组合) -->
    <div id="u3364" class="ax_default" data-left="210" data-top="91" data-width="890" data-height="890">

        <!-- Unnamed (矩形) -->
        <div id="u3365" class="ax_default box_1">
            <div id="u3365_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u3366" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- 寿命预测 (组合) -->
        <div id="u3367" class="ax_default" data-label="寿命预测" data-left="327" data-top="200" data-width="656" data-height="588">

            <!-- Unnamed (矩形) -->
            <div id="u3368" class="ax_default box_1">
                <div id="u3368_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3369" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3370" class="ax_default box_1">
                <div id="u3370_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3371" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3372" class="ax_default _文本段落">
                <div id="u3372_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3373" class="text">
                    <p><span>材料：</span></p>
                </div>
            </div>

            <!-- Unnamed (文本框) -->
            <div id="u3374" class="ax_default text_field">
                <input id="u3374_input" type="text" value=""/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3375" class="ax_default _文本段落">
                <div id="u3375_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3376" class="text">
                    <p><span>环境：</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3377" class="ax_default _文本段落">
                <div id="u3377_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3378" class="text">
                    <p><span>温度：</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3379" class="ax_default _文本段落">
                <div id="u3379_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3380" class="text">
                    <p><span>湿度：</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3381" class="ax_default _文本段落">
                <div id="u3381_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3382" class="text">
                    <p><span>压力：</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3383" class="ax_default _文本段落">
                <div id="u3383_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3384" class="text">
                    <p><span>介质：</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3385" class="ax_default _文本段落">
                <div id="u3385_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3386" class="text">
                    <p><span>应力：</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3387" class="ax_default _文本段落">
                <div id="u3387_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3388" class="text">
                    <p><span>材料使用参数：</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3389" class="ax_default _文本段落">
                <div id="u3389_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3390" class="text">
                    <p><span>材料服役安全寿命预测结果：</span></p>
                </div>
            </div>

            <!-- Unnamed (下拉列表框) -->
            <div id="u3391" class="ax_default droplist">
                <select id="u3391_input">
                    <option value="真空环境">真空环境</option>
                    <option selected value="1/5 N2">1/5 N2</option>
                    <option value="List Item1">List Item1</option>
                </select>
            </div>

            <!-- Unnamed (下拉列表框) -->
            <div id="u3392" class="ax_default droplist">
                <select id="u3392_input">
                    <option value="0摄氏度">0摄氏度</option>
                    <option value="10摄氏度">10摄氏度</option>
                    <option selected value="20摄氏度">20摄氏度</option>
                    <option value="50摄氏度">50摄氏度</option>
                    <option value="100摄氏度">100摄氏度</option>
                    <option value="500摄氏度">500摄氏度</option>
                    <option value="1000摄氏度">1000摄氏度</option>
                </select>
            </div>

            <!-- Unnamed (下拉列表框) -->
            <div id="u3393" class="ax_default droplist">
                <select id="u3393_input">
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                    <option value="400">400</option>
                    <option value="500">500</option>
                    <option value="600">600</option>
                    <option value="700">700</option>
                    <option value="800">800</option>
                    <option value="900">900</option>
                    <option value="1000">1000</option>
                </select>
            </div>

            <!-- Unnamed (下拉列表框) -->
            <div id="u3394" class="ax_default droplist">
                <select id="u3394_input">
                    <option selected value="101 Kpa">101 Kpa</option>
                    <option value="200 Kpa">200 Kpa</option>
                </select>
            </div>

            <!-- Unnamed (下拉列表框) -->
            <div id="u3395" class="ax_default droplist">
                <select id="u3395_input">
                    <option value="固体">固体</option>
                    <option value="气体">气体</option>
                    <option value="液体">液体</option>
                </select>
            </div>

            <!-- Unnamed (下拉列表框) -->
            <div id="u3396" class="ax_default droplist">
                <select id="u3396_input">
                    <option value="List Item1">List Item1</option>
                    <option value="List Item2">List Item2</option>
                    <option value="List Item3">List Item3</option>
                    <option value="List Item4">List Item4</option>
                </select>
            </div>
        </div>

        <!-- 按需选材 隐藏 (组合) -->
        <div id="u3397" class="ax_default ax_default_hidden" data-label="按需选材 隐藏" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

            <!-- Unnamed (矩形) -->
            <div id="u3398" class="ax_default box_1">
                <div id="u3398_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3399" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3400" class="ax_default box_1">
                <div id="u3400_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3401" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3402" class="ax_default _文本段落">
                <div id="u3402_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3403" class="text">
                    <p><span>环境：</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3404" class="ax_default _文本段落">
                <div id="u3404_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3405" class="text">
                    <p><span>输入材料信息：</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3406" class="ax_default _文本段落">
                <div id="u3406_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3407" class="text">
                    <p><span>预测结果：</span></p>
                </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u3408" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0">

                <!-- Unnamed (矩形) -->
                <div id="u3409" class="ax_default _文本段落">
                    <div id="u3409_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3410" class="text">
                        <p><span>年限：</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3411" class="ax_default _文本段落">
                    <div id="u3411_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3412" class="text">
                        <p><span>温度：</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3413" class="ax_default _文本段落">
                    <div id="u3413_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3414" class="text">
                        <p><span>湿度：</span></p>
                    </div>
                </div>

                <!-- Unnamed (下拉列表框) -->
                <div id="u3415" class="ax_default droplist">
                    <select id="u3415_input">
                        <option value="真空环境">真空环境</option>
                        <option value="1年内">1年内</option>
                        <option selected value="2年内">2年内</option>
                        <option value="5年内">5年内</option>
                        <option value="10年内">10年内</option>
                    </select>
                </div>

                <!-- Unnamed (下拉列表框) -->
                <div id="u3416" class="ax_default droplist">
                    <select id="u3416_input">
                        <option value="0摄氏度">0摄氏度</option>
                        <option value="10摄氏度">10摄氏度</option>
                        <option selected value="20摄氏度">20摄氏度</option>
                        <option value="50摄氏度">50摄氏度</option>
                        <option value="100摄氏度">100摄氏度</option>
                        <option value="500摄氏度">500摄氏度</option>
                        <option value="1000摄氏度">1000摄氏度</option>
                    </select>
                </div>

                <!-- Unnamed (下拉列表框) -->
                <div id="u3417" class="ax_default droplist">
                    <select id="u3417_input">
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="300">300</option>
                        <option value="400">400</option>
                        <option value="500">500</option>
                        <option value="600">600</option>
                        <option value="700">700</option>
                        <option value="800">800</option>
                        <option value="900">900</option>
                        <option value="1000">1000</option>
                    </select>
                </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u3418" class="ax_default" data-left="0" data-top="0" data-width="0" data-height="0">

                <!-- Unnamed (矩形) -->
                <div id="u3419" class="ax_default _文本段落">
                    <div id="u3419_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3420" class="text">
                        <p><span>压力：</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3421" class="ax_default _文本段落">
                    <div id="u3421_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3422" class="text">
                        <p><span>介质：</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3423" class="ax_default _文本段落">
                    <div id="u3423_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3424" class="text">
                        <p><span>应力：</span></p>
                    </div>
                </div>

                <!-- Unnamed (下拉列表框) -->
                <div id="u3425" class="ax_default droplist">
                    <select id="u3425_input">
                        <option selected value="101 Kpa">101 Kpa</option>
                        <option value="200 Kpa">200 Kpa</option>
                    </select>
                </div>

                <!-- Unnamed (下拉列表框) -->
                <div id="u3426" class="ax_default droplist">
                    <select id="u3426_input">
                        <option value="固体">固体</option>
                        <option value="气体">气体</option>
                        <option value="液体">液体</option>
                    </select>
                </div>

                <!-- Unnamed (下拉列表框) -->
                <div id="u3427" class="ax_default droplist">
                    <select id="u3427_input">
                        <option value="List Item1">List Item1</option>
                        <option value="List Item2">List Item2</option>
                        <option value="List Item3">List Item3</option>
                        <option value="List Item4">List Item4</option>
                    </select>
                </div>
            </div>

            <!-- Unnamed (下拉列表框) -->
            <div id="u3428" class="ax_default droplist">
                <select id="u3428_input">
                    <option value="真空环境">真空环境</option>
                    <option selected value="1/5 N2">1/5 N2</option>
                    <option value="List Item1">List Item1</option>
                </select>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u3429" class="ax_default image">
                <img id="u3429_img" class="img " src="images/智能化支持/u3429.png"/>
                <!-- Unnamed () -->
                <div id="u3430" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u3431" class="ax_default" data-left="556" data-top="138" data-width="199" data-height="32">

            <!-- 预测 (组合) -->
            <div id="u3432" class="ax_default" data-label="预测" data-left="556" data-top="138" data-width="88" data-height="32">

                <!-- 显示 (矩形) -->
                <div id="u3433" class="ax_default button" data-label="显示">
                    <div id="u3433_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3434" class="text">
                        <p><span>寿命预测</span></p>
                    </div>
                </div>

                <!-- 隐藏 (矩形) -->
                <div id="u3435" class="ax_default button ax_default_hidden" data-label="隐藏" style="display:none; visibility: hidden">
                    <img id="u3435_img" class="img " src="images/智能化支持/隐藏_u3435.png"/>
                    <!-- Unnamed () -->
                    <div id="u3436" class="text">
                        <p><span>寿命预测</span></p>
                    </div>
                </div>
            </div>

            <!-- 预测底色 (矩形) -->
            <div id="u3437" class="ax_default box_2" data-label="预测底色">
                <div id="u3437_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3438" class="text">
                    <p><span>寿命预测</span></p>
                </div>
            </div>

            <!-- 选材 (组合) -->
            <div id="u3439" class="ax_default" data-label="选材" data-left="667" data-top="138" data-width="88" data-height="32">

                <!-- 显示 (矩形) -->
                <div id="u3440" class="ax_default button" data-label="显示">
                    <div id="u3440_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u3441" class="text">
                        <p><span>按需选材</span></p>
                    </div>
                </div>

                <!-- 隐藏 (矩形) -->
                <div id="u3442" class="ax_default button ax_default_hidden" data-label="隐藏" style="display:none; visibility: hidden">
                    <img id="u3442_img" class="img " src="images/智能化支持/隐藏_u3435.png"/>
                    <!-- Unnamed () -->
                    <div id="u3443" class="text">
                        <p><span>按需选材</span></p>
                    </div>
                </div>
            </div>

            <!-- 选材底色 (矩形) -->
            <div id="u3444" class="ax_default box_2 ax_default_hidden" data-label="选材底色" style="display:none; visibility: hidden">
                <div id="u3444_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3445" class="text">
                    <p><span>按需选材</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u3446" class="ax_default" data-left="548" data-top="897" data-width="214" data-height="32">

            <!-- Unnamed (组合) -->
            <div id="u3447" class="ax_default" data-left="548" data-top="897" data-width="100" data-height="32">

                <!-- 显示 (矩形) -->
                <div id="u3448" class="ax_default button" data-label="显示">
                    <img id="u3448_img" class="img " src="images/文档上传_1/显示_u439.png"/>
                    <!-- Unnamed () -->
                    <div id="u3449" class="text">
                        <p><span>&nbsp; 计 算</span></p>
                    </div>
                </div>

                <!-- 隐藏 (矩形) -->
                <div id="u3450" class="ax_default button ax_default_hidden" data-label="隐藏" style="display:none; visibility: hidden">
                    <img id="u3450_img" class="img " src="images/文档上传_1/显示_u439.png"/>
                    <!-- Unnamed () -->
                    <div id="u3451" class="text">
                        <p><span>&nbsp; 计 算</span></p>
                    </div>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u3452" class="ax_default image">
                    <img id="u3452_img" class="img " src="images/发布文档/u188.png"/>
                    <!-- Unnamed () -->
                    <div id="u3453" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u3454" class="ax_default" data-left="662" data-top="897" data-width="100" data-height="32">

                <!-- 显示 (矩形) -->
                <div id="u3455" class="ax_default button" data-label="显示">
                    <img id="u3455_img" class="img " src="images/文档上传_1/显示_u439.png"/>
                    <!-- Unnamed () -->
                    <div id="u3456" class="text">
                        <p><span>&nbsp; 导 出</span></p>
                    </div>
                </div>

                <!-- 隐藏 (矩形) -->
                <div id="u3457" class="ax_default button ax_default_hidden" data-label="隐藏" style="display:none; visibility: hidden">
                    <img id="u3457_img" class="img " src="images/文档上传_1/显示_u439.png"/>
                    <!-- Unnamed () -->
                    <div id="u3458" class="text">
                        <p><span>&nbsp; 导 出</span></p>
                    </div>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u3459" class="ax_default image">
                    <img id="u3459_img" class="img " src="images/发布文档/u195.png"/>
                    <!-- Unnamed () -->
                    <div id="u3460" class="text" style="display:none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
