<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="owl2vowl.knowledgebase.dao.KwOfficeToPdfMapper">
  <resultMap id="BaseResultMap" type="owl2vowl.knowledgebase.entity.KwOfficeToPdf">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="TRANSFORM_PATH" jdbcType="VARCHAR" property="transformPath" />
    <result column="ORIGINAL_NAME" jdbcType="VARCHAR" property="originalName" />
    <result column="DOCUMENT_ID" jdbcType="INTEGER" property="documentId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, TRANSFORM_PATH, ORIGINAL_NAME, DOCUMENT_ID
  </sql>
  <select id="selectByExample" parameterType="owl2vowl.knowledgebase.entity.KwOfficeToPdfExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kw_office_to_pdf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kw_office_to_pdf
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from kw_office_to_pdf
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="owl2vowl.knowledgebase.entity.KwOfficeToPdfExample">
    delete from kw_office_to_pdf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="owl2vowl.knowledgebase.entity.KwOfficeToPdf">
    insert into kw_office_to_pdf (ID, TRANSFORM_PATH, ORIGINAL_NAME, 
      DOCUMENT_ID)
    values (#{id,jdbcType=INTEGER}, #{transformPath,jdbcType=VARCHAR}, #{originalName,jdbcType=VARCHAR}, 
      #{documentId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="owl2vowl.knowledgebase.entity.KwOfficeToPdf">
    insert into kw_office_to_pdf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="transformPath != null">
        TRANSFORM_PATH,
      </if>
      <if test="originalName != null">
        ORIGINAL_NAME,
      </if>
      <if test="documentId != null">
        DOCUMENT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="transformPath != null">
        #{transformPath,jdbcType=VARCHAR},
      </if>
      <if test="originalName != null">
        #{originalName,jdbcType=VARCHAR},
      </if>
      <if test="documentId != null">
        #{documentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="owl2vowl.knowledgebase.entity.KwOfficeToPdfExample" resultType="java.lang.Long">
    select count(*) from kw_office_to_pdf
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update kw_office_to_pdf
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.transformPath != null">
        TRANSFORM_PATH = #{record.transformPath,jdbcType=VARCHAR},
      </if>
      <if test="record.originalName != null">
        ORIGINAL_NAME = #{record.originalName,jdbcType=VARCHAR},
      </if>
      <if test="record.documentId != null">
        DOCUMENT_ID = #{record.documentId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update kw_office_to_pdf
    set ID = #{record.id,jdbcType=INTEGER},
      TRANSFORM_PATH = #{record.transformPath,jdbcType=VARCHAR},
      ORIGINAL_NAME = #{record.originalName,jdbcType=VARCHAR},
      DOCUMENT_ID = #{record.documentId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="owl2vowl.knowledgebase.entity.KwOfficeToPdf">
    update kw_office_to_pdf
    <set>
      <if test="transformPath != null">
        TRANSFORM_PATH = #{transformPath,jdbcType=VARCHAR},
      </if>
      <if test="originalName != null">
        ORIGINAL_NAME = #{originalName,jdbcType=VARCHAR},
      </if>
      <if test="documentId != null">
        DOCUMENT_ID = #{documentId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="owl2vowl.knowledgebase.entity.KwOfficeToPdf">
    update kw_office_to_pdf
    set TRANSFORM_PATH = #{transformPath,jdbcType=VARCHAR},
      ORIGINAL_NAME = #{originalName,jdbcType=VARCHAR},
      DOCUMENT_ID = #{documentId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>